@import url(//fonts.googleapis.com/css?family=Lato:700);

html, body {
	margin:0;
	font-family:'Lato', sans-serif;
	text-align:center;
	color: #999;
}

.welcome {
	/*width: 300px;
	height: 200px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -150px;
	margin-top: -100px;*/
	/*border: 1px solid blue;*/
	margin: 0 auto;
}

a, a:visited {
	text-decoration:none;
}

h1 {
	font-size: 32px;
	margin: 16px 0 0 0;
}

h1.home_header {
	font-size: 32px;
	margin: 16px 0 0 0;
	color: Black;
}

.container{
	margin: 0 auto;
	width: 1024px;
	/*border: 1pt solid blue;*/
	
}

.top{
	/*position: absolute;
	top: 0;*/
	height: 200px;
	background-image: url("../img/home_bg_top.png");
	background-repeat: repeat;
}